# CREDENCIALES PARA LA BASE DE DATOS
DB_NAME=<NOMBRE_DE_LA_BASE_DE_DATOS>
DB_USER=<USUARIO_PARA_CONEXION>
DB_PASSWORD=<CLAVE_DE_LA_BASE_DE_DATOS>
DB_HOST=<HOST_DE_LA_BASE_DE_DATOS>
DB_PORT=<PUERTO_PARA_LA_CONEXION>

# CREDENCIALES PARA ENVIAR CORREOS
EMAIL_PORT=<PUERTO>
EMAIL_USE_TLS=<ENCRIPTAMIENTO>
EMAIL_HOST_USER=<CORREO_DESDE_DONDE_SE_ENVIA>
EMAIL_HOST_PASSWORD=<CONTRASEÑA_DEL_CORREO>